@keyframes bg-anim {
	0%{background-position: 0% 25%;}
	25%{background-position: 50% 50%;}
	50%{background-position: 100% 100%;}
	75%{background-position: 50% 50%;}
	100%{background-position: 0% 25%;}
}

body{
    height: 100vh;
    overflow: hidden;
	box-shadow: inset 0 0 200px -25px rgba(56, 56, 56, 0.7);
	background: linear-gradient(-60deg, #fadce5, #ffd8f0, #e6d9ff, #daedff, #dffff2);
	background-size: 500% 200%;
	animation: bg-anim 20s linear infinite;
}

.mainCard{
    box-shadow: 0 0 30px 10px rgb(91, 91, 91);
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

#resultText{
    display: flex;
    align-items: center;
}